.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #111827;
  color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.navbar h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  color: #ef4444;
}

.nav-links {
  display: flex;
  gap: 35px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ef4444;
}
.logo {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -1px;
  color: white;
  position: relative;
  cursor: pointer;
}

.logo span {
  color: #e63946;
}

.logo::after {
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  background: #e63946;
  border-radius: 10px;
  margin-top: 5px;
  transition: width 0.3s ease;
}

.logo:hover::after {
  width: 100%;
}
